# Build
bin/
obj/

*/bin/
*/obj/

# .NET SDK generated
**/*.AssemblyAttributes.cs
**/*.GlobalUsings.g.cs
**/*.FileListAbsolute.txt
**/*.assets.cache

# NuGet generated
**/*.nuget.g.props
**/*.nuget.g.targets
**/*.nuget.dgspec.json
**/project.assets.json
**/project.nuget.cache
**/project.packagespec.json

# Rider / JetBrains
.idea/
.rider/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log
logs/.DS_Store
