@using Entities.Dtos
@using Microsoft.AspNetCore.Components.Forms


<div class="d-flex justify-content-center">
    <div class="d-flex flex-column ">
        <div>
            <Button Class="m-1" Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="Add">Ajouter</Button>
            @if (selectedCategories.Count > 0)
            {
                <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" @onclick="Update">Editer</Button>
                <Button Type="ButtonType.Button" Color="ButtonColor.Danger" @onclick="Delete">Supprimer</Button>
            }
        </div>
        <div class=""> <!-- ou w-50 pour plus étroit -->
            <Grid @ref="grid"
                  TItem="CategorieDto"
                  Class="table table-hover table-bordered table-striped"
                  DataProvider="CategorieDataProvider"
                  AllowFiltering="true"
                  AllowSelection="true"
                  SelectedItemsChanged="OnSelectedItemsChanged"
                  SelectedItems="selectedCategories"
                  Responsive="true">

                <GridColumns>
                    <GridColumn TItem="CategorieDto" HeaderText="Nom" PropertyName="Name">
                        @context.Name
                    </GridColumn>
                    <GridColumn TItem="CategorieDto" HeaderText="Icone" PropertyName="Icon" Filterable="false" TextAlignment="Alignment.Center">
                        <Icon CustomIconName="@context.Icon" Size="IconSize.x4"></Icon>
                    </GridColumn>
                </GridColumns>
            </Grid>
        </div>
    </div>
</div>

<Modal @ref="modal"></Modal>