<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi bi-wallet2" aria-hidden="true"></span> BudgetApp
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill ms-1" aria-hidden="true"></span> Tableau de bord
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="depenses">
                <span class="bi bi-cash-stack ms-1" aria-hidden="true"></span> Budget
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-tags ms-1" aria-hidden="true"></span> Catégories
            </NavLink>
        </div>
    </nav>
</div>
