@page "/Categories"
@using BudgetApp.Shared.Components
@rendermode InteractiveServer
<h3>Categories</h3>
<Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="Add">Ajouter</Button>

<Categories_C></Categories_C>

<Modal @ref="modal"></Modal>
