@page "/Categories"
@using BudgetApp.Shared.Components
@using BudgetApp.Shared.Components.Catégories
@using Front_BudgetApp.Components.Layout
@rendermode InteractiveServer

<h3 class="mb-5">Gestion des catégories: </h3>


<Categories_C></Categories_C>


